h3{
    color:chartreuse;
}
body{
    /*background-color: grey; */
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v978-background-02-kpzgw7o8.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e62663bb68a9df004c04635304ebb5f8");
    background-repeat: no-repeat;
    background-size: cover;
}
#Rama{
    color:blue;
} 
.Bharti{
    color: magenta !important;
} 
/* 1st rule: tag (inline>internal>>external) powerful order*/
/*2nd rule: selector(tagname, id, class) {property:value; }
/* (!important> id> class> tagname)*/